<form (ngSubmit)="save()" #addForm="ngForm">
  <div class="modal-header">
    <h4 class="modal-title">Agregar {{ingredient.name}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="name">Nombre</label>
      <input type="text" name="name" id="name" [(ngModel)]="ingredient.name" class="form-control">
    </div>
    <div class="form-group">
      <label for="stock">Stock</label>
      <input type="number" name="stock" id="stock" [(ngModel)]="ingredient.stock" class="form-control">
    </div>
    <div class="form-group">
      <label for="unit">Unidad medida</label>
      <input type="text" name="unit" id="unit" [(ngModel)]="ingredient.unit" class="form-control">
    </div>

  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-success" [disabled]="!addForm.form.valid">Guardar</button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss('Close click')">Cancelar</button>
  </div>
</form>