<form (ngSubmit)="onSubmit()" #editForm="ngForm">
  <div class="modal-header">
    <h4 class="modal-title">Editar {{product.name}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="name">Nombre</label>
      <input type="text" name="name" id="name" [(ngModel)]="product.name" class="form-control">
    </div>
    <div class="form-group">
      <label for="price">Precio</label>
      <input type="number" name="precio" id="precio" [(ngModel)]="product.price" class="form-control">
    </div>
    <div class="form-group">
      <label for="description">Descripcion</label>
      <textarea name="description" id="description" cols="30" rows="10" [(ngModel)]="product.description" class="form-control"></textarea>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-success" [disabled]="!editForm.form.valid">Guardar</button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss('Close click')">Cancelar</button>
  </div>
</form>

