
<div class="row">
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
  <thead>
    <tr>
      <!-- <th>ID</th> -->
      <th>Nombre</th>
      <th>Visibilidad</th>
      <th>Num. de productos</th>
      <th>Acción</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let category of categories">
      <!-- <td>{{ category._id }}</td> -->
      <td>{{ category.name }}</td>
      <td>{{ category.show }}</td>
      <td>{{ numProds(category) }}</td>
      <td><button class="btn btn-lg btn-outline-primary" (click)="edit(category)">Editar</button>
      <button class="btn btn-lg btn-outline-primary" (click)="remove(category)">Eliminar</button></td>
    </tr>
  </tbody>
  </table>
</div>