<ng-template #rt let-r="result" let-t="term">
  {{ r.name }}
</ng-template>

<form (ngSubmit)="add()" #addForm="ngForm">
  <div class="modal-header">
    <h4 class="modal-title">Agregar producto a {{category.name}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="typeahead-focus">Producto:</label>
      <input id="typeahead-template" type="text" class="form-control" name="typeahead-template"
      [(ngModel)]="selectedProduct"
      [ngbTypeahead]="search"
      [resultTemplate]="rt"
      [inputFormatter]="formatter" />
    </div>
  </div>
  
  <div class="modal-footer">
    <button type="submit" class="btn btn-success" [disabled]="!addForm.form.valid">Guardar</button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss('Close click')">Cancelar</button>
  </div>
</form>