<form (ngSubmit)="onSubmit()" #editForm="ngForm">
  <div class="modal-header">
    <h4 class="modal-title">Editar {{category.name}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="name">Nombre</label>
      <input type="text" name="name" id="name" [(ngModel)]="category.name" class="form-control">
    </div>
    <div class="form-group">
      <label for="show">Estado</label>
      <div class="onoffswitch">
          <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked [(ngModel)]="category.show">
          <label class="onoffswitch-label" for="myonoffswitch">
              <span class="onoffswitch-inner"></span>
              <span class="onoffswitch-switch"></span>
          </label>
      </div>      
    </div>

  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-success" [disabled]="!editForm.form.valid">Guardar</button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss('Close click')">Cancelar</button>
  </div>
</form>


